.content {
  position: relative;
}

.project-img {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	padding: 5px;
	cursor: pointer;
}

.project-img img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: transform 3s ease-in-out;
}

.project-img:hover img {
	transform: translateY(-85%);
}

.project-title h4 {
	font-size: 20px;
}

.single-project {
	margin-bottom: 20px;
}

.project-details {
	/* background-color: rgb(23, 42, 69); */
	/* border: 1px solid lightgray; */
	/* margin-left: -60px; */
	z-index: 1;
	padding: 10px;
}

.preview {
	display: flex;
	margin-bottom: 0!important;
}

.preview li {
	display: inline;
	margin-right: 10px;
	font-size: 18px;
}

.project-description p {
	font-size: 15px;
}

.technology-used h4 {
	font-size: 16px;
}

.projects-links,
.technology-used {
	margin-top: 18px;
}

.projects-links {
	display: flex;
	align-items: center;
}

.detail-btn {
	background-color: transparent!important;
	border-color: #ffc576!important;
	font-size: 16px!important;
	display: inline!important;
}