.content {
  position: relative;
}

.project-img {
  display: block;
	/* width: 300px; */
	height: 250px;
	overflow: hidden;
	position: relative;
	border: 2px solid #b3b3b3;
	border-radius: 1px;
	margin: 0 auto;
}

.project-img img {
  bottom: -1500px;
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:0;
  padding:0;
	/* -webkit-transition: top 11s;
	-moz-transition: top 11s;
	-ms-transition: top 11s;
	-o-transition: top 11s; */
	transition: bottom 3s;
}

.project-img:hover img {
  bottom: 0;
  /* -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s; */
  transition: all 3s;
}

.project-title h4 {
	font-size: 20px;
}

.single-project {
	margin-bottom: 20px;
}

.project-details {
	/* background-color: rgb(23, 42, 69); */
	/* border: 1px solid lightgray; */
	/* margin-left: -60px; */
	z-index: 1;
	padding: 10px;
}

.preview {
	display: flex;
}

.preview li {
	display: inline;
	margin-right: 10px;
	font-size: 18px;
}

.project-description p {
	font-size: 16px;
}

.technology-used h4 {
	font-size: 16px;
}

.projects-links,
.technology-used {
	margin-top: 18px;
}